* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navbar-links a:hover {
    color: #3498db;
}

.logo {
    width: 20px; 
    height: auto;
    margin-right: 2px; 
}

.logo-text {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
}

/* Contenedor del formulario */
.form-container {
    max-width: 400px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.form-container p {
    margin-bottom: 20px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.birthday-select input {
    width: 30%;
    margin-right: 5px;
}

.gender-select {
    display: flex;
    justify-content: space-between;
}

.gender-select input[type="radio"] {
    margin-right: 5px;
}

.gender-select label {
    font-size: 16px;
    color: #333;
}

/* Botón de registro */
.btn-register {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-register:hover {
    background-color: #2980b9;
}

/* Enlace a iniciar sesión */
.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}